<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CommentType</key>
		<string>评论</string>
		<key>Content</key>
		<string>我朋友是摄影师，符合你的需求，让他来接你的任务。我朋友是摄影师，符合你的需求，让他来接你的任务。我朋友是摄影师，符合你的需求，让他来接你的任务。我朋友是摄影师，符合你的需求，让他来接你的任务。</string>
		<key>CreateDateStr</key>
		<string>2016-06-21 10:27</string>
		<key>FromNickname</key>
		<string>Puff</string>
		<key>FromHeadImage</key>
		<string>https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS7QvhSMjAVBBQfxh63rnpG_wOo-YmmWCV16b9674fE7TpsMAYD</string>
		<key>FromMemberId</key>
		<integer>6</integer>
		<key>Id</key>
		<integer>2</integer>
		<key>Replay</key>
		<array/>
		<key>ToNickname</key>
		<string>长苏</string>
		<key>ToTaskId</key>
		<string>1</string>
	</dict>
	<dict>
		<key>CommentType</key>
		<string>评论</string>
		<key>Content</key>
		<string>把你的需求和创意告诉我，我来帮你策划和执行，你可以放心、尽情地享乐其中！把你的需求和创意告诉我，我来帮你策划和执行，你可以放心、尽情地享乐其中！把你的需求和创意告诉我，我来帮你策划和执行，你可以放心、尽情地享乐其中！！</string>
		<key>CreateDateStr</key>
		<string>2016-06-21 10:27</string>
		<key>FromNickname</key>
		<string>赏金猎人</string>
		<key>FromHeadImage</key>
		<string>https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR_5J0llbYjA5mDtatIxbYmpQl6E3AvXX8q6BcisGL_-pOWQPW1</string>
		<key>FromMemberId</key>
		<integer>5</integer>
		<key>Id</key>
		<integer>2</integer>
		<key>ToNickname</key>
		<string>长苏</string>
		<key>ToTaskId</key>
		<string>1</string>
		<key>Replay</key>
		<array>
			<dict>
				<key>Content</key>
				<string>多谢，亲！</string>
				<key>Id</key>
				<integer>2</integer>
				<key>FromMemberId</key>
				<integer>1</integer>
				<key>ToTaskId</key>
				<integer>1</integer>
				<key>CommentType</key>
				<string>回复</string>
				<key>ToMemberId</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Content</key>
				<string>这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！这也是举手之劳嘛！</string>
				<key>Id</key>
				<integer>3</integer>
				<key>FromMemberId</key>
				<integer>1</integer>
				<key>ToTaskId</key>
				<integer>1</integer>
				<key>CommentType</key>
				<string>回复</string>
				<key>ToMemberId</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Content</key>
				<string>我会把详细的资料发送给你,我把我的需求都详细的描述了,如果说你有不明白的地方请给我邮件,我会给你详细阐述的!希望我们合作愉快,早日看到成果!</string>
				<key>Id</key>
				<integer>4</integer>
				<key>FromMemberId</key>
				<integer>1</integer>
				<key>ToTaskId</key>
				<integer>1</integer>
				<key>CommentType</key>
				<string>回复</string>
				<key>ToMemberId</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
